<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>AQI | Home</title>

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/main.css')}}"
    />

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='icons/favicon.ico') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="container">
      <!-- header section -->
      <header class="site-header">
        <!-- header logo and brand name -->
        <div class="header-top">
          <div class="header-logo">
            <a href="/">
              <div class="logo">AQI(Air Quality Index)</div>
            </a>
          </div>
        </div>
      </header>
      <main class="content">
        <div class="framed-content">
          <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
              <div class="form-fields">
                <div class="form-field">
                  {{ form.city.label(class='label') }}
                  {{ form.city(class="input-field") }}
                </div>
        
              </div>
        
              <div class="form-fields">{{ form.submit(class="submit-btn btn") }}</div>
              
            </fieldset>
          </form>
        </div>
      </main>
    </div>
  </body>
</html>
